.headercss{

    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0/ 13%) 0.7px 0.7px 22px 0px;
    padding-right: 10px;
}

.background{
    background-image: url("../images/image2.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;

}

.inscription{
    width: 343px;
    margin-left: auto;
}

.form{
    width: 795.92px;
    margin: auto;
    column-gap: 10px;
    row-gap: 15px;
    display: grid;
    grid-template-columns: 50% 50%; 
    
}

.zonetexte{
    background-color: white;
    width: 795.92px;
    height: 110px;
    padding: 0 25px;
    margin: 0 auto;
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
   
}

.carretexte{
    height: inherit;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #C00000;
}

.titreform{
    margin: auto;
    width: 795.92px;
    font-family: sans-serif;
    padding: 25px;
}


.titre{

font-family: sans-serif;
font-size: 21px;
color: #C00000;
margin: auto;
width: 795.92px;

}


    



